logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
project/project
/tmp
/.history
*.iml
*.swp
.terraform/
*.tfstate
terraform.tfstate.*.backup
*.tfstate.backup
*.tfvars
!.tflint.tfvars
.sw[a-p]
.*.sw[a-p]
